header{
  font-family: 'Times New Roman', Times, serif;
  background:white;
  color:black;
  border-radius: 50px;
  border-bottom: 5px solid #000;
  block-size: 35px;
}
header > h1 { 
  font-size: 15px;
  margin-left: 15px;
  block-size: 10px;
  display: inline-block 
}
button{
  margin-left: 15px;
}
.right{
  float: right;
  margin-right:50px;  
}