

header{
  font-family: 'Times New Roman', Times, serif;
  color:whitesmoke;
  background:rgb(3, 62, 117);
  border-radius: 15px;
  block-size: 80px;
}
header > h1 { 
  font-size: 24px;
  margin-left: 15px;
  block-size: 10px; 
  }
header span { 
  font-size: 24px;
  margin-left: 15px; }

:host {
  height: 100vh;
  display: grid;
  grid-template: "toolbar"
                "page-contrainer" 1fr;
}
body{
  background: #817c7c9a;
}
.grid-container{

  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: repeat(3,1fr);  
  
}
system-messages{
  background: white;
  grid-column:  1 / span 4;
  
}
devices-connected{
  background:white;
  border-radius: 15px;


}