h1{
  font-family: 'Times New Roman', Times, serif;
  color:whitesmoke;
  background:black;
  background: -webkit-linear-gradient();
  
}

:host {
  height: 100vh;
  display: grid;
  grid-template: "toolbar"
                "page-contrainer" 1fr;
}
