


/**header > h1{
  display: grid;
  grid-template-rows: 10%;
  grid-template-columns: 10px;
  background:white;
  margin-left: 20px;
  border-radius: 15px;
  block-size: 100px;

}
**/
html,
body {
  margin: 0;
}
.w {
  overflow: hidden;
}
section {
  margin: -2%;
  padding: 20px;
  
}
section div {
  background: white;
  border-radius: 15%;
  
  float: left;
  height: 110px;
  margin: 20px;
  width: 30%;
  block-size: 170px;
  border-bottom: 5px solid #000;
}